.loginButton{
    font-size: 26px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    font-weight: 900;
    padding: 20px;
    border: none;
}
.modalBackground{
    background-image: url("https://i.gifer.com/5J46.gif");
    background-size: cover;
    color: #000;
    padding: 60px 30px;
    margin: 6% 0 0 0;
}
input{
    padding: 15px;
    border-radius: 5px;
    width: 100%;
}
